# Python files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook temporary files
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Large datasets
*.csv
*.xlsx
*.json

# Model files
*.pkl
*.joblib
*.h5

# OS files
.DS_Store
Thumbs.db
